<% provide :title, '' %>

<div class="center hero-unit">
	<h1>Invitor</h1>

	<h2>
		I am going to fuck your shitty layout in the asshole.
	</h2>
	<%= link_to "Sign up", signup_path, class:"btn btn-large" %>
</div>