<% provide :title, "Browse Recipes" %>

<div class="row">
	<div class="span8 offset2">
		<h1>Browse Recipes</h1>
		<%= form_tag browse_recipes_path, method: "get", id: "recipes_search", class: "search" do %>
			<%= render 'shared/search_form' %>
			<div class="table" id="recipes">
				<%= render 'recipes_table' %>
			</div>
		<% end %>
		<%= will_paginate @recipes %>
	</div>
</div>