<% provide :title, @title %>

<div class="row">
	<aside class="span4" id="recipe_info">
		<%= render 'recipe_sidebar', recipe: @recipe %>
	</aside>
	<div class="span8" id="ingredients">
		<%= render 'recipe_ingredients' %>
	</div>
</div>	