<div class="table_row table_header">
	<% %w[name calories carbs protein fat].each do |column_name| %>
		<span>
			<%= sortable object_model, column_name %>
			<% if column_name != "name" %>
				(<%= (column_name == "calories") ? "kCal" : "g" %>)
			<% end %>
			<% if params[:sort] == column_name %>
				<% if params[:direction] == "asc"  %>
					<i class="icon-chevron-up"></i>
				<% else %>
					<i class="icon-chevron-down"></i>
				<% end %>
			<% end %>
		</span>
	<% end %>
	<% if show_amount %>
		<span>Amount (g)</span>
		<span></span>
	<% end %>
</div>