<div class="table_row table_header">
	<span>Name</span>
	<span>Calories (kcal)</span>
	<span>Carbs (g)</span>
	<span>Protein (g)</span>
	<span>Fat (g)</span>
	<% if show_amount %>
		<span>Amount (g)</span>
		<span></span>
	<% end %>
</div>