<% provide :title, "Edit food" %>

<div class="row">
	<div class="span8 offset2">
		<h1>Edit Food</h1>
		<%= form_for @food do |f| %>
			<%= render 'food_fields', f:f %>
			<%= f.submit 'Update food', class: "btn btn-primary" %>
		<% end %>
	</div>
</div>